*.log
.DS_Store
.env
.env.backup
.env.production
.mcp.json
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
Thumbs.db
composer.lock
composer.local.json
composer.local.lock
bun.lock
auth.json
boost.json
CLAUDE.md
config.json
/.ai
/.claude
/.codex
/.idea
/.junie
/.phpunit.cache
/.opencode
/docs/planning
/node_modules
/plugins/acme
/plugins/**/node_modules
/public/hot
/public/storage
/public/plugins
/public/themes
/scripts
/storage/*.key
/storage/pail
/themes/**/node_modules
/vendor