* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/plugins export-ignore
/themes export-ignore
/docs export-ignore
/.env export-ignore
/.idea export-ignore
/.phpunit.cache export-ignore
/.mcp.json export-ignore
/boost.json export-ignore
/CHANGELOG.md export-ignore
/.styleci.yml export-ignore
/pint.json export-ignore
/rector.php export-ignore
/composer.lock export-ignore
/bun.lock export-ignore
/public/hot export-ignore
/public/storage export-ignore
/public/themes export-ignore
/storage/*.key export-ignore
/storage/pail export-ignore
/auth.json export-ignore
/.phpunit.result.cache export-ignore
/.phpactor.json export-ignore
/*.log export-ignore
/.DS_Store export-ignore
/Thumbs.db export-ignore
/themes/**/node_modules export-ignore
/.release-please-manifest.json export-ignore
/.blade.format.json export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.prettierignore export-ignore
/.prettierrc export-ignore
/release-please-config.json export-ignore