@import url("https://fonts.bunny.net/css?family=space-grotesk:700|fira-sans:400,500,600");

@import "tailwindcss";

@source '../../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../storage/framework/views/*.php';

@source '../../views/**/*.blade.php';
@source '../../views/**/*.js';

@source '../../../../../packages/**/resources/views/**/*.blade.php';
@source '../../../../../plugins/**/resources/views/**/*.blade.php';

@source '../../../../../packages/**/resources/js/**/*.js';
@source '../../../../../plugins/**/resources/js/**/*.js';

@theme {
	--font-sans: 'Fira Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--font-display: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--color-brand-50: var(--color-sky-50);
	--color-brand-100: var(--color-sky-100);
	--color-brand-200: var(--color-sky-200);
	--color-brand-300: var(--color-sky-300);
	--color-brand-400: var(--color-sky-400);
	--color-brand-500: var(--color-sky-500);
	--color-brand-600: var(--color-sky-600);
	--color-brand-700: var(--color-sky-700);
	--color-brand-800: var(--color-sky-800);
	--color-brand-900: var(--color-sky-900);
}
